@model IEnumerable<Rent_a_Car.Models.AutoType>
@{
    ViewBag.Title = "Home";
}

<header class="bg-primary text-white text-center" style="margin-top: 80px; background-color: rgb(255,255,255)!important;">
    <div class="container">
        <h1 style="color: rgb(0,0,0) !important;">RENT-A-CAR</h1>
        <h2 class="font-weight-light mb-0" style="color: rgb(0,0,0) !important;">0548-57482950</h2><img class="img-fluid d-block mx-auto mb-5" src="../assets/img/3-cars.png">
    </div>
</header>
<section id="about" class="bg-primary text-white" style="background-color: #283655 !important;">
    <div class="container">
        <h2 class="text-uppercase text-center text-white">TOP VERHUURDE AUTO'S</h2>
        <hr>
        <div class="row">
            @{
                foreach (var item in Model)
                {
                    <div class="col-lg-4 ml-auto">
                        <div class="card">
                            @{
                                if (item.Foto != null && item.Foto.Length > 0)
                                {

                                    var base64 = Convert.ToBase64String(item.Foto);
                                    var imgSrc = String.Format("data:image;base64,{0}", base64);

                                    <img src="@imgSrc" class="card-img-top" style="width: 100%; height: 200px;" />
                                }
                                else
                                {
                                    <img src="~/Content/Placeholder_car.jpg" class="card-img-top" style="width: 100%; height: 200px;" />
                                }

                            }
                            <div class="card-body">
                                <b class="card-title text-center" style="color: rgb(0,0,0);">@item.Merk @item.Type - @item.Uitvoering</b>
                                <div class="row" style="color: black !important;">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <b>LaadRuimte: </b>
                                            </div>
                                            <div class="col-md">
                                                @item.LaadRuimte L
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <b>Schakeltiepe: </b>
                                            </div>
                                            <div class="col-md-6">
                                                @item.SchakelType.Schakeltype1
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <b>Zitplaatsen: </b>
                                            </div>
                                            <div class="col-md-6">
                                                @item.ZitPlaatsen
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                                }
                                }
            </div>
        </div>
        </section>
