@model Rent_a_Car.Models.AdminViewModel
@{
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
    ViewBag.Title = "Admin";

}
<div class="container-fluid" style="padding-top: 20px">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-light mb-0">Dashboard</h3>
    </div>
    <div class="row">
        @if (User.IsInRole("Admin"))
        {
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Earnings (monthly)</span></div>
                                <div class="text-dark font-weight-bold h5 mb-0"><span>@String.Format("{0:C}", Model.Earningsmonth)</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-success py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Earnings (annual)</span></div>
                                <div class="text-dark font-weight-bold h5 mb-0"><span>@String.Format("{0:C}", Model.EarningsAnnual)</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-info py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Totaal aantal verhuringen</span></div>
                                <div class="text-dark font-weight-bold h5 mb-0"><span>@String.Format("{0:N}", Model.TotalRentsYear)</span></div>
                            </div>
                            <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-warning py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col mr-2">
                            <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Aantal Verhuringen Morgen</span></div>
                            <div class="text-dark font-weight-bold h5 mb-0"><span>@Model.Verhurings.Count()</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-car fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="row">
            <div class="col-lg col-xl">
                <div class="card shadow mb-4" style="height: 100%">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary font-weight-bold m-0">Earnings Overview</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-area"><canvas data-bs-chart="{&quot;type&quot;:&quot;line&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Jan&quot;,&quot;Feb&quot;,&quot;Mar&quot;,&quot;Apr&quot;,&quot;May&quot;,&quot;Jun&quot;,&quot;Jul&quot;,&quot;Aug&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Earnings&quot;,&quot;fill&quot;:true,&quot;data&quot;:[&quot;0&quot;,&quot;10000&quot;,&quot;5000&quot;,&quot;15000&quot;,&quot;10000&quot;,&quot;20000&quot;,&quot;15000&quot;,&quot;25000&quot;],&quot;backgroundColor&quot;:&quot;rgba(78, 115, 223, 0.05)&quot;,&quot;borderColor&quot;:&quot;rgba(78, 115, 223, 1)&quot;}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{},&quot;scales&quot;:{&quot;xAxes&quot;:[{&quot;gridLines&quot;:{&quot;color&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;zeroLineColor&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;drawBorder&quot;:false,&quot;drawTicks&quot;:false,&quot;borderDash&quot;:[&quot;2&quot;],&quot;zeroLineBorderDash&quot;:[&quot;2&quot;],&quot;drawOnChartArea&quot;:false},&quot;ticks&quot;:{&quot;fontColor&quot;:&quot;#858796&quot;,&quot;padding&quot;:20}}],&quot;yAxes&quot;:[{&quot;gridLines&quot;:{&quot;color&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;zeroLineColor&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;drawBorder&quot;:false,&quot;drawTicks&quot;:false,&quot;borderDash&quot;:[&quot;2&quot;],&quot;zeroLineBorderDash&quot;:[&quot;2&quot;]},&quot;ticks&quot;:{&quot;fontColor&quot;:&quot;#858796&quot;,&quot;padding&quot;:20}}]}}}"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="col-lg col-xl">
                <div class="card shadow mb-4" style="height: 100%">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary font-weight-bold m-0">Top 10 Meest Gehuurde Autos</h6>

                    </div>
                    <div class="card-body">
                        <table id="autotable" class="table table-striped table-bordered responsive nowrap" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        Auto Model
                                    </th>
                                    <th>
                                        Aantal Verhuringen
                                    </th>
                                    <th>

                                    </th>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var item in Model.TopAutoTypes)
                                {
                                    <tr>
                                        <td>
                                            @item.Merk @item.Type - @item.Uitvoering
                                        </td>
                                        <td>
                                            @{
                                                int counter = 0;
                                                foreach (var auto in item.Auto)
                                                {
                                                    counter += auto.Verhuring.Count();
                                                }
                                                @counter
                                            }
                                        </td>
                                        <td>
                                            <a href="/autotypes/Details/@item.ID">Details</a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
    }

    <div class="row">
        <div class="col-lg col-xl">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Autos om klaar te zetten voor morgen</h6>
                </div>
                <div class="card-body">
                    <table id="verhuringstable" class="table table-striped table-bordered responsive nowrap" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    Auto Model / Kenteken
                                </th>
                                <th>
                                    Klant
                                </th>
                                <th>
                                    Start Datum
                                </th>
                                <th>
                                    Eind Datum
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.Verhurings)
                            {
                                <tr>
                                    <td>
                                        @foreach (var auto in item.Auto)
                                        {
                                            <text>@auto.AutoType.Merk @auto.AutoType.Type - @auto.AutoType.Uitvoering / @auto.Kenteken</text>
                                        }
                                    </td>
                                    <td>
                                        @item.AspNetUsers.Voornaam @item.AspNetUsers.Tussenvoegsel @item.AspNetUsers.Achternaam
                                    </td>

                                    <td>
                                        @item.StartDatum.ToString("dd-MM-yyyy")
                                    </td>
                                    <td>
                                        @item.EindDatum.ToString("dd-MM-yyyy")
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#verhuringstable').DataTable({
                dom: 'Bfrtl',
                searching: false,
                paging: false,
                responsive: true,
                buttons:
                    [{
                        extend: 'collection',
                        text: 'Export',
                        buttons: [
                            {
                                text: 'Print Table',
                                extend: 'print',

                            },
                            {
                                text: 'Copy Table',
                                extend: 'copy',

                            },
                            {
                                text: 'Download Excel',
                                extend: 'excel',

                            }
                            ,
                            {
                                text: 'Download PDF',
                                extend: 'pdf',

                            }
                        ]
                    }
                    ],
                language: {
                    "sProcessing": "Bezig...",
                    "sLengthMenu": "_MENU_ resultaten weergeven",
                    "sZeroRecords": "Geen resultaten gevonden",
                    "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                    "sInfoEmpty": "Geen resultaten om weer te geven",
                    "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                    "sInfoPostFix": "",
                    "sSearch": "Zoeken:",
                    "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                    "oPaginate": {
                        "sFirst": "Eerste",
                        "sLast": "Laatste",
                        "sNext": "Volgende",
                        "sPrevious": "Vorige"
                    },
                    "oAria": {
                        "sSortAscending": ": activeer om kolom oplopend te sorteren",
                        "sSortDescending": ": activeer om kolom aflopend te sorteren"
                    }
                }


            });
        });
    </script>
    <script>
        $(document).ready(function () {

            $('#autotable').DataTable({
                dom: 'frtl',
                searching: false,
                paging: false,
                responsive: true,
                language: {
                    "sProcessing": "Bezig...",
                    "sLengthMenu": "_MENU_ resultaten weergeven",
                    "sZeroRecords": "Geen resultaten gevonden",
                    "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                    "sInfoEmpty": "Geen resultaten om weer te geven",
                    "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                    "sInfoPostFix": "",
                    "sSearch": "Zoeken:",
                    "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                    "oPaginate": {
                        "sFirst": "Eerste",
                        "sLast": "Laatste",
                        "sNext": "Volgende",
                        "sPrevious": "Vorige"
                    },
                    "oAria": {
                        "sSortAscending": ": activeer om kolom oplopend te sorteren",
                        "sSortDescending": ": activeer om kolom aflopend te sorteren"
                    }
                }


            });
        });
    </script>
    <script>
        $(document).ready(function () {

            $('[data-bs-chart]').each(function (index, elem) {
                var chart = new Chart(elem, {
                    "type": "line",
                    "data": {
                        "labels": ["Jan",
                            "Feb",
                            "Mar",
                            "Apr",
                            "Mei",
                            "Jun",
                            "Jul",
                            "Aug",
                            "Sep",
                            "Okt",
                            "Nov",
                            "Dec"],
                        "datasets": [{
                            "label": "Earnings", "fill": true, "data": [
                                @{
                                    foreach (var item in Model.Monthlyprovit)
                                    {
                                        <text>"@Convert.ToInt32(item)",</text>
                                    }
                                }
                            ], "backgroundColor": "rgba(78, 115, 223, 0.05)", "borderColor": "rgba(78, 115, 223, 1)"
                        }
                        ]
                    }
                    ,
                    "options": {
                        "maintainAspectRatio": false,
                        "legend": {
                            "display": false
                        }
                        ,
                        "title": {}
                        ,
                        "scales": {
                            "xAxes": [{
                                "gridLines": {
                                    "color": "rgb(234, 236, 244)", "zeroLineColor": "rgb(234, 236, 244)", "drawBorder": false, "drawTicks": false, "borderDash": ["2"], "zeroLineBorderDash": ["2"], "drawOnChartArea": false
                                }
                                ,
                                "ticks": {
                                    "fontColor": "#858796", "padding": 20
                                }
                            }
                            ],
                            "yAxes": [{
                                "gridLines": {
                                    "color": "rgb(234, 236, 244)", "zeroLineColor": "rgb(234, 236, 244)", "drawBorder": false, "drawTicks": false, "borderDash": ["2"], "zeroLineBorderDash": ["2"]
                                }
                                ,
                                "ticks": {
                                    "fontColor": "#858796", "padding": 20
                                }
                            }
                            ]
                        }
                    }

                    });
        });

            });
    </script>

}
