@model Rent_a_Car.Models.Auto

@{
    ViewBag.Title = "Create";
    List<Rent_a_Car.Models.AutoType> autoTypes = ViewBag.AutoTypeID;
}

<style>
    .offsetInput {
        margin-left: 50px;
    }

    body {
        background-color: #4d648d;
    }
</style>
<div class="container">
    <div class="row register-form" style="margin-top: 50px; background-color: #4d648d;">
        <div class="col-md-8 col-xl-10 offset-md-2 offset-xl-1">
            <form class="custom-form" style="background-color: #283655;color: rgb(255,255,255);" action="/Autos/Create" method="post" novalidate="novalidate">
                @Html.AntiForgeryToken()
                <h1 style="color: rgb(255,255,255);">Crëeer Auto</h1>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-row" style="color: rgb(255,255,255);">
                    <div class="col-xl-12 offset-xl-0" style="color: rgb(255,255,255);">
                        <div id="persoonsgegevens">
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field" style="color: rgb(255,255,255);">AutoType</label></div>
                                <div class="col-sm-6 offsetInput input-column">
                                    <input type="text" name="AutoTypeID" list="AutoTypeID" class="form-control">
                                    <datalist name="AutoTypeID" id="AutoTypeID">
                                        @{
                                            foreach (var auto in autoTypes)
                                            {
                                                <option value="@auto.ID">@auto.Merk @auto.Type @auto.Uitvoering</option>
                                            }
                                        }
                                    </datalist>
                                    @Html.ValidationMessageFor(model => model.AutoTypeID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field" style="color: rgb(255,255,255);">Kenteken</label></div>
                                <div class="col-sm-6 offsetInput input-column">@Html.EditorFor(model => model.Kenteken, new { htmlAttributes = new { @class = "form-control" } })</div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="pawssword-input-field" style="color: rgb(255,255,255);">Bouwjaar</label></div>
                                <div class="col-sm-6 offsetInput input-column">@Html.EditorFor(model => model.BouwJaar, new { htmlAttributes = new { @class = "form-control" } })</div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="pawssword-input-field" style="color: rgb(255,255,255);">Beschikbaar</label></div>
                                <div class="col-sm-6 offsetInput input-column">@Html.EditorFor(model => model.Beschikbaar)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <input type="submit" value="Maak" class="btn btn-default submit-button" />
            </form>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")


        }
    </div>
</div>