@model Rent_a_Car.Models.Auto

@{
    ViewBag.Title = "Edit";
}

<style>
    .offsetInput {
        margin-left: 50px;
    }

    body {
        background-color: #4d648d;
    }
</style>


<div class="container">
    <div class="row register-form" style="margin-top: 50px; background-color: #4d648d;">
        <div class="col-md-8 col-xl-10 offset-md-2 offset-xl-1">
            <form class="custom-form" style="background-color: #283655;color: rgb(255,255,255);" action="/Autos/Edit/@ViewBag.Id" method="post" novalidate="novalidate">
                @Html.AntiForgeryToken()
                <h1 style="color: rgb(255,255,255);">Bewerk Auto</h1>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.AutoID)
                <div class="form-row" style="color: rgb(255,255,255);">
                    <div class="col-xl-12 offset-xl-0" style="color: rgb(255,255,255);">
                        <div id="persoonsgegevens">
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field" style="color: rgb(255,255,255);">AutoType</label></div>
                                <div class="col-sm-6 offsetInput input-column">
                                    @Html.DropDownList("AutoTypeID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AutoTypeID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field" style="color: rgb(255,255,255);">Kenteken</label></div>
                                <div class="col-sm-6 offsetInput input-column">
                                    @Html.EditorFor(model => model.Kenteken, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Kenteken, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="pawssword-input-field" style="color: rgb(255,255,255);">Bouwjaar</label></div>
                                <div class="col-sm-6 offsetInput input-column">
                                    @Html.EditorFor(model => model.BouwJaar, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BouwJaar, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="pawssword-input-field" style="color: rgb(255,255,255);">Beschikbaar</label></div>
                                <div class="col-sm-6 offsetInput input-column">
                                    @Html.EditorFor(model => model.Beschikbaar)
                                    @Html.ValidationMessageFor(model => model.Beschikbaar, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <input type="submit" value="Bewerk" class="btn btn-default submit-button" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}