@model IEnumerable<Rent_a_Car.Models.Verhuring>

@{
    ViewBag.Title = "UserHiredCars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserHiredCars</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EindDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GebruikerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geldig)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EindDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GebruikerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beschrijving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prijs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Geldig)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
