@model Rent_a_Car.Models.AutoType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AutoType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Merk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Merk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaadRuimte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaadRuimte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trekhaak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trekhaak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZitPlaatsen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZitPlaatsen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gewicht)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gewicht)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AantalDeuren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AantalDeuren)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uitvoering)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uitvoering)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beschikbaar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beschikbaar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brandstof.BrandstofType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brandstof.BrandstofType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchakelType.Schakeltype1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchakelType.Schakeltype1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
