@model IEnumerable<Rent_a_Car.Models.AutoType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Merk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaadRuimte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trekhaak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZitPlaatsen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gewicht)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AantalDeuren)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uitvoering)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beschikbaar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brandstof.BrandstofType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchakelType.Schakeltype1)
        </th>
        <th>Prijs Per dag</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Merk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaadRuimte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trekhaak)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZitPlaatsen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gewicht)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AantalDeuren)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uitvoering)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beschikbaar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brandstof.BrandstofType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchakelType.Schakeltype1)
        </td>
        <td>
            @Math.Round(item.AutoPrijs.Where(t => t.AutoTypeID == item.ID && DateTime.Now > t.StartDatum && t.EindDatum == null).First().Prijs, 2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>
